#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box {
  background: #ffe656;
  padding: 10px 20px;
  width: 100%;
  margin: auto;
  max-width: 300px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}